<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>CodePulse</string>
	<key>CFBundleExecutable</key>
	<string>CodePulse</string>
	<key>CFBundleIconFile</key>
	<string>CodePulse</string>
	<key>CFBundleIdentifier</key>
	<string>com.joewolly.CodePulse</string>
	<key>CFBundleName</key>
	<string>CodePulse</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>1100</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/joewolly/codepulse/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>EX4J6W41dIHFiPsqUhlk6Jp/VsX/2AxoYmCDlsqzuDM=</string>
</dict>
</plist>
